.row.mb-5
    .col-12 
        a(class="btn btn-primary mx-2"
            href="/friend/not-friend"
        ) Danh sách người dùng

        a(class="btn btn-primary mx-2"
            href="/friend/has-friend"
        ) Danh sách bạn bè

        a(class="btn btn-primary mx-2"
            href="/friend/request-friend"
        ) Lời mời đã gửi

        a(class="btn btn-primary mx-2 accept-friends"
            href="/friend/accept-friend"
        ) Lời mời kết bạn 
            b(class="badge bg-danger" user-id-accept = users.id) #{users.acceptFriends.length}