extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
block main 
    h1(class="mb-4") Chỉnh sửa danh mục sản phẩm

    form(
        action=`${prefixAdmin}/product-category/edit/${data.id}?_method=PATCH`
        id="form-create-product"
        method='POST'
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                value=data.title
                id="title"
                name="title"
                required
            )
        div(class="form-group")
            label(for="parent_id") Phần tử cha
            select(name="parent_id" class="form-control" id="parent_id")
                option(value=" ") --Chọn phần tử cha--
                if(record)
                    +select-tree(record, 1, data.parent_id)

        div(class="form-group")
            label(for="description") Mô tả
            textarea(
                type="text"
                class="form-control tiny-mce"
                id="description"
                name="description"
            ) #{data.description}

        div(class="form-group")
            label(for="thumbnail") Đường dẫn ảnh
            input(
                type="file"
                class="form-control"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                inputImage
            )
            img(
                src=data.thumbnail
                previewImage
                class="preview-image"
            )
            div(
                class="close-preview"
            ) x


        div(class="form-group")
            label(for="discountPercentage") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tăng dần"
                min=1
                requiered
                value=data.position
            )  
        
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked = (data.status == "active")
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="inactive"
                checked = (data.status == "inactive")
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
            
            