extends ../../layouts/auth.pug
 
block main 
    .container.my-5 
        .row.justify-content-center
            .col-8 
                    h1(class="text-center") Đăng nhập
                    form(
                            action=`${prefixAdmin}/auth/login`
                            method='POST'
                        )
                        div(class="form-group form-login")
                            label(for="email") Email: 
                            input(
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                required
                            )
                        div(class="form-group mb-4")
                            label(for="passWord") Mật khẩu: 
                            input(
                                type="text"
                                class="form-control"
                                id="passWord"
                                name="passWord"
                                required
                                )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-primary btn-block"
                            ) Đăng nhập