extends ../../layouts/default.pug

block main
    .container
        h2.mb-4 Lời mời đã gửi
        include ../../partials/friend.partial.pug
        div(
            class="row box-request"
            my-id-request=users.id
        )
            each item in requestFriends  
                .col-6
                    div(
                        class="block-user add"
                        id-user-request=item.id
                    )
                        .inner-image 
                            img(
                                src = item.avatar ? item.avtatar : "/uploads/images.png"
                            )
                        .inner-info 
                            .inner-name #{item.fullName}
                            .inner-button 
                                button(
                                    class="btn btn-success mx-2"
                                    button-request = item.id
                                ) Kết bạn
                                button(
                                    class="btn btn-secondary"
                                    button-cancel-request = item.id
                                ) Hủy

block script 
    script(src="/client/js/friend.js") 