extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    h1 Trang chi tiết sản phẩm
    .container 
        .row
            .col-4 
                .detail_image 
                    img(src=product.thumbnail)
            .col-4
                .detail_info 
                    .name #{product.title}
                    .category Danh mục 
                        a(href=`/products/${product.category.slug}`) #{product.category.title}
                    .price #{product.price}$
                    .discount.mb-4 #{product.discountPercentage}%
                    .stock.mb-4 Còn lại <span>#{product.stock}</span> sản phẩm
                    form(
                        action=`/cart/${product.id}`
                        method="POST"
                    )                            
                        input(
                            type="number"
                            class="form-control mb-4"
                            name="quantity"
                            value="1"
                            min="1"
                            max=product.stock
                            )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Thêm vào giỏ hàng
            .col-12 
                +box-head("Giới thiệu sản phẩm")
                .detait_description !{product.description}
                        
