extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  .container 
    .row 
      .col-12 
        +box-head("Danh sách sản phẩm")
    .row 
      for item in listProduct
        .col-4 
          .product-items
            .inner-image 
              img(src=item.thumbnail , alt=item.title)
            .inner-info
              a(
                class="name"
                href=`products/${item.slug}`
                ) #{item.title}
              .price Giá: #{item.price} $
  