extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    .container 
        +box-head("Chat")
        .row 
            .col-12 
                a(class="btn btn-primary mx-2"
                    href="/friend/not-friend"
                ) Danh sách người dùng

                a(class="btn btn-primary mx-2"
                    href="/friend/has-friend"
                ) Danh sách bạn bè

                a(class="btn btn-primary mx-2"
                    href="/friend/request-friend"
                ) Lời mời đã gửi

                a(class="btn btn-primary mx-2"
                    href="/friend/accept-friend"
                ) Lời mời kết bạn
        .row 
            .col-8.my-5
                .chat 
                    div(class="inner-body" my-id=users.id)
                        each chat in chats
                            div(class=(chat.user_id == users.id ? "inner-send" : "inner-comming"))
                                if(chat.user_id != users.id)
                                    .inner-name #{chat.fullName}
                                .inner-content
                                    | #{chat.content}
                                .inner-images 
                                    each item in chat.images
                                        img(src=item)
                        .inner-typing
                            //- .inner-name #
                            //- .typing-container 
                            //-     .dot 
                            //-     .dot 
                            //-     .dot
                        div(class="custom-file-container" data-upload-id="upload-images")
                    .inner-foot
                        form(
                            class="inner-form"
                            action = ""
                        )
                            input(type="text"
                                name="content"
                                placeholder="Nhập tin nhắn..." 
                            )
                            label(for="file-upload-with-preview-upload-images")
                                <i class="fa-regular fa-images"></i> 
                            span(class="btn") <i class="fa-regular fa-face-smile"></i>
                            button(
                                type="submit"
                                class="fa-solid fa-paper-plane"
                            ) 
                div(class="tooltip")
                    emoji-picker(class="light")
block script
    script(type="module", src="/client/js/chat.js")

