extends ../../layouts/default.pug

block main 
    h1 Trang chi tiết sản phẩm
    if(product.title)
        div(class="mb-4") Tiêu đề: 
            b #{product.title}
    if(product.description)
        div(class="mb-4") Mô tả: 
            p #{product.description}
    if(product.discountPercentage)
        div(class="mb-4") Giảm giá : 
            b #{product.discountPercentage}
    if(product.stock)
        div(class="mb-4") Số lượng : 
            b #{product.stock}
    if(product.thumbnail)
        div(class="mb-4") Ảnh sản phẩm:  
            img(
                src=product.thumbnail
                style="width:100px"
            )
    if(product.position)
        div(class="mb-4") Vị trí: 
            b #{product.position}
    if(product.status)
        div(class="mb-4") Trạng thái sản phẩm: 
            if(product.status == "active")
                a(
                    class="btn btn-sm bg-success"
                ) Hoạt động
            else 
                a(
                    class="btn btn-sm bg-danger"
                ) Ngừng hoạt động
    a(
        class="btn btn-sm bg-primary"
        style="margin-top:10px"
        href=`${prefixAdmin}/product/edit/${product.id}`
    ) Chỉnh sửa sản phẩm